/* CUSTOM CSS STYLES PLACED HERE SHOULD OVERRIDE OTHER STYLES 

If they do not seem to work, then consider using an !important declaration 
rather than editing core template styles. It can make changes easier to 
track and troubleshoot in the future.

*/

a:hover {text-decoration:none;}
a {color:#fff;}
#sk-bottom-row a {color:#fff;}

@media (max-width:780px) {
	h1 {font-size:350% !important;}
	h2 {font-size:200% !important;}
}

@media (max-width:500px) {
	h1 {font-size:270% !important;}
	h2 {font-size:150% !important;}
	#sk-showcase .btn-primary {
    font-size: 20px !important;
	padding:15px 25px !important;
}
}

#mainContentArea p {
    /* margin-bottom: 50px; */
    padding: 20px;
    background: #083051;
}

body {background: #0e375b !important;
background-attachment: fixed !important;
	color: #ffffff;
}

#bg-inner {
    background: none; /* url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/tiny_grid.png); */ /* #ffffff; */ /* url(../img/bg-drawing-1200.jpg) no-repeat scroll center 100% !important; */
    background-attachment: fixed !important;
	
}

.container-fluid {
    max-width: inherit !important;
}

.container.main-container {box-shadow:none;}


.pagewrapper {
    
    padding: 0px;
}

#sk-showcase {background:#fff;}

#sk-header .container {
    background: #083051;
}

div#sk-header {
  
    background: #083051;
	}
#sk-header-top .container {padding-left:0px;padding-right:0px;}
#menu-top {
    padding-left: 0px;
    padding-right: 0px;
}


.sk-showcase-overlay {
    /* background-color: rgba(0,0,0,0.3); */
}

.sk-showcase-overlay {
	/* padding-bottom:14%;
	padding-top:4%; */
	}

.homepage .sk-showcase-overlay .container {margin:0px;padding:0px;}


#sk-showcase h1 {
    margin-bottom: 2%;
	margin-top:5%;
	text-shadow: 2px 2px 4px #333;
	/* border-bottom: 1px solid #1A4760;
	padding-bottom:18px; */
}

#sk-showcase h2 {
    margin-bottom: 12%;
	font-weight:normal;
	text-shadow: 2px 2px 4px #333;
}

#sk-showcase .btn-primary {
    background-color: rgba(0,0,0,0.5);
    border: 4px solid #FFF;
    padding: 15px 50px;
    font-size: 26px;
    margin-right: 50px;
    margin-bottom: 25px;
}


#sk-showcase .btn-primary:hover {
    background-color: rgba(0,0,0,0.85);
    
}


.main-container {
    background-color:  transparent; 
}

#sk-bottom-row .container {background: #083051;color:#fff;padding-top:20px;}

.homepage #sk-bottom-row {
    background-color: transparent;
}

#sk-feature1 {
    padding-top: 30px;
	background: #DBE2F3;
}

#sk-feature1 img {
    border: 1px solid #fff;
    padding: 5px;
}

#sk-feature2 {
    background: #fff;
    padding-bottom: 15px;
}

.content-section-a, .content-section-b {
    padding: 15px 0;
}

/* experimental homepage services and icons grey */
#sk-feature2 {
    margin-bottom: -15px;
	padding-bottom: 0px;
	margin-top: -15px;
}
#sk-feature2  {
    background: #DBE2F3;
}

#sk-feature2 .col-md-8 {
    background: #FFFFFF;
}

#sk-feature2 .container {
    margin-left: -15px;
}

/* END experimental homepage services and icons grey */

		.navbar-default {
			background-color: #083051; /* #1B67A3; */
		}


		.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > a:hover {
			background-color: #083051;
			}
			
		.navbar-nav > li:hover {
			background-color: #083051;
		}

		.navbar-default .navbar-toggle {
			border-color: transparent;
			background: #083051;
			width:100%;
			height:55px !important;
		}

		.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
			border-color: #083051;
			background-color: #083051;
		}

		.navbar-default .navbar-nav > li > a {
			color: #fff;
			font-weight:normal;
		}

		@media (max-width: 1001px) {
			.navbar-default .navbar-nav > li > a {
				color: #ffffff;
			}
		}

		@media (min-width: 1001px) {
			.navbar-right {
				float: right !important;
				
			}
		}

		.button-center {width:110px; margin:0 auto;}
		.button-icon-bars {margin-right:20px;}
		.float-left {float:left; display:inline;}

		.navbar-toggle .menu-text {
			font-weight: normal;
			color: #ffffff;
			font-size: 18px;
			text-transform:uppercase;
		}

		.navbar-toggle .icon-bar {
			width: 35px;
			height: 5px;
		}

		@media (max-width: 1001px) {
		.navbar .nav > li {
			border-bottom: 1px solid #072A47;
			background: #0E375B;
			text-align: center;
		}

		.navbar .nav > li:hover {
			background: #083051;
		}

		.navbar .nav > li a {
			padding:20px;
		}

		.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
			border-color: #072A47;
		}

		}


		@media (max-width: 1001px) {
		.navbar-header {
			margin-top: 0px;
		}
		}
		
		
		.nav-pills li.parent:hover ul.nav-child, .navbar-nav li.parent:hover ul.nav-child {
		background: #fff;
		}
		
		@media (min-width: 1001px) {
		.nav-pills ul.nav-child li:hover, .navbar-nav ul.nav-child li:hover {
		background-color: #6A6A6A;
		}
		}
		
		.nav-pills ul.nav-child li a, .navbar-nav ul.nav-child li a {
		font-size: 15px;
		}
		
		@media (min-width: 1001px) {
		.navbar .navbar-collapse .menu li ul {
		box-shadow: 0px 0px 0px #ccc;
		-moz-box-shadow: 0px 0px 0px #ccc;
		-webkit-box-shadow: 0px 0px 0px #ccc;
		}
		}

		footer {
			background-color:transparent;
			color: #333;
			bottom: 0px;
			font-size:12px;
		}

		footer a {
			color: #333;
			font-size:14px;
			}

/* contact form */
	.contact-form legend {display:none;}

/* error page 404 */
		#errorpage-styles p, #errorpage-styles h1, #errorpage-styles h3 {
			color: #333;
		}
		
		#errorpage-styles .navbar-right {margin-top:30px !important;}
		
		#errorpage-styles #sk-showcase {background: url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/tiny_grid.png); }

		#errorpage-errorType h1 {
			border: 0px solid #333;
			margin-top: 17%;
			font-size: 150px !important;
			}
			
		.404errormessage-module {padding:15px;}

/* custom module suffixes */
		.page-box {float:right;margin:35px 0px 35px 35px;position:relative;z-index:99999999999;}
		.page-box .btn-primary {border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;}
		.page-box p {margin-bottom:20px !important;}

		@media (max-width: 560px) {
		.page-box {float:none;margin:35px 0px;border:1px solid #143247; padding:20px;}
		}

		.homepage-showcase h1 , .homepage-showcase h2 {
			color: #fff;
		}

		#sk-header-top {
			width:100%;
			box-shadow:none;
			-moz-box-shadow:none;
			-webkit-box-shadow:none;
			background:transparent;
			}

		.top-bar {background: #F8F8F8; /* margin-left: -30px;    margin-right: -30px; */}
		.top-bar p {
			margin: 0px;
			padding: 5px 15px;
			font-size: 15px;
			/* text-align: center; */
			color: #083051;
			font-weight:bold;
		}
		
		.top-bar a {color:#083051;}
		
		@media (max-width: 1001px) {
		.top-bar p {
			text-align: center;
		}
		}

		.bottom-title-h3 h2 {font-size: 180%;}
		
		.menu-bottom {margin-bottom:-15px;}
		.menu-bottom ul li {
		list-style: disc;
		display: list-item;
		margin-left: 40px;
		}
		.menu-bottom ul li a {
		padding: 0px;
		}
		
/* To TOp */
a.toTop {
	background-color: #333;
	padding: 10px;
	right: 10px;
	position: fixed;
	bottom: 5%;
	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	color:#ffffff;
	text-decoration:none;
	display:none;
	}

/* Form Inputs */
input {
    background: #555555;
    border: 2px solid #555555;
    padding: 5px;
    color: #ffffff;
    text-align: center;
	width:80%;
	   
}

button {
    padding: 5px;
    background: #3BA129;
    border: 2px solid #3BA129;
}

button#play, button#play2, button#play3 {width:100%;}

.controlForm {
    font-size: 25px;
}

.controlForm2 {
    font-size: 25px;
    padding: 20px 10px;
}

.controlForm {
    font-size: 25px;
    padding: 20px 10px;
    background: #083051;
}

.coll {margin-bottom:8px;}

button#resetInputField , button#resetInputField2 , button#resetInputField3 {
    background: #555;
    border: 2px solid #555;
	color: #868686;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}